#main_two {

  /* background-color: yellowgreen; */
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    /* padding: 30px; */
    padding-left: 112px;
    padding-top: 60px;
    padding-right: 112px;
    padding-bottom: 20px;
    margin-top: 25px;
}


#main_two1 {
    width: 20%;
    /* background-color: yellowgreen; */
    /* background-color: aqua; */
    text-align: -webkit-center;

}


#main_two2 {
    width: 20%;
    /* background-color: antiquewhite; */
    text-align: -webkit-center;

}


#main_two3 {
    width: 20%;
    /* background-color: crimson; */
    text-align: -webkit-center;

}

#main_two4 {
    width: 20%;
    /* background-color: rgb(168, 112, 124); */
    text-align: -webkit-center;

}

#main_two1_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#main_two2_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


#main_two3_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#main_two4_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.main_head {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.main_content {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    color: rgb(207, 189, 189);
}

/* the next main element in style 4 */